



/* Header */
a.space{
    margin-left:67px;
    font-family: Lato;
    font-weight: regular;
    font-size: 17px;
    color: rgb(0, 0, 0)!important;
}

nav.navvbar{
    padding:50px;
}

button{
    font-size: 24px;
}

.login-button{
    border: 2px solid #ffc107;
    margin-left: 30px;
    background-color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.login-button:hover{
    border: 2px solid #ffc107;

}
.get-started-button{
    border: 2px solid #ffffff;
    border: 2px solid #ffc107;
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 10px;
}
.get-started-button:hover{
    border: 2px solid #ffc107;
    background-color: #eeb404;
}


/* Main */

/* HOME 1st PAGE */
.home-page_left{
    display: flex;
    padding: 5%;
    justify-content: space-around;
}

.home-page_left .content h1{
    font-weight: 700;
    font-size: 2em;
    background: -webkit-linear-gradient(rgba(233, 0, 255, 1), rgba(88, 0, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    padding-bottom: 2%;
  
}

.home-page_left .content p{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;

}

.home-page_right{
    padding-left: 3%;
}

.home-page_right .home_image img{
    max-width: 500px;
    width: auto;
    height: auto;

}

@media only screen and (max-width: 1000px) {
    *{
        font-size: 15px;
    }
    .home-page_left {
        flex-wrap: wrap;
    }
    .home-page_right .home_image img{
        justify-content: center ;
        padding-top: 8%;
        width: 100%;
        height: auto;
        padding-right: 5%;
    }
  }

/* END HOME 1st PAGE*/




/* FLOWCHART CONTAINER */
.flowchart-container .flowchart_flex{
    display: flex;
    padding-left: 10%;
    /* padding-top: 3%; */
    padding-right: 10%; 
    justify-content: space-around;
}

.flowchart-container #main{
    
    font-size: 2em;
    text-align: center;
    background: -webkit-linear-gradient(rgba(233, 0, 255, 1), rgba(88, 0, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 3%;
    

}

.flowchart-container .flowchart_flex h1{
    color:rgba(255, 198, 0, 1);
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 2% ;
}

.flowchart-container .flowchart_flex h2{
    text-decoration: underline;
    color:rgba(255, 198, 0, 1);
    font-weight: 900;
    padding-bottom: 2% ;
    font-size: 1.25em;
    cursor: pointer;

}
.flowchart-container .flowchart_flex p{
    font-size: 1em;
    font-weight: 700;
}

.flowchart-container .flowchart_flex img{
    width: 200px;
}

.flowchart-container .flowchart_flex .flex-1{

}

.flowchart-container .flowchart_flex .flex-2{
    padding-left: 30%;
}


/* END FLOWCHART CONTAINER */







/* Footer */
